<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Events</title>
        <%= stylesheet_link_tag 'nav', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'event_list' %>
        <%= javascript_include_tag 'search', 'data-turbolinks-track': 'reload', async: true %>
        <%= javascript_include_tag 'side-nav', 'data-turbolinks-track': 'reload', async: true %>
    </head>
    <body>
        <div id="myNav" class="overlay">
            <div class="nav-head">
                <%= image_tag "event.png" %>
                <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
            </div>
            <div class="overlay-content">
                <div class="overlay-link" id="login-overlay">
                    <a href="login.html"></a>
                    <p>Login</p><p>></p>
                </div>
                <div class="overlay-link" id="signup-overlay">
                    <a href="signup.html" ></a>
                    <p>Register</p><p>></p>
                </div>
                <div class="overlay-link" id="logout-overlay" >
                  <a href="#" class="logout"></a>
                  <p>Logout</p><p>></p>
                </div>
                <div class="overlay-link">
                    <a href="event_list.html"></a>
                    <p>Event List</p><p>></p>
                </div>
                
            </div>
        </div>
        <nav>
        <%= image_tag "event.png" %>
            
            <div class="links">
            <%= image_tag "hamburger-ico.png", alt: "Example Image", id: "openNav" %>

            </div>
            <div class="desktop-links">
                <a href="login.html" id="login">Login</a>
                <a href="signup.html" id="signup">Sign-up</a>
                <a href="#" id="logout" class="logout">Logout</a>
                <a href="event_list.html">Event List</a>
            </div>
        </nav>
        <div class="search-container">
            <form id="SearchForm">
                <input type="text" placeholder="Search.." name="search" id="Search">
                <button type="submit">Search</button>
                <label for="sort">Sort By</label>
                <select name="sort"  id="sort">
                    <option value="Select">Select</option>
                    <option value="Latest">Latest</option>
                    <option value="Oldest">Oldest</option>
                </select>
                <label for="filter">Filter by</label>
                <select name="filter" id="filter">
                    <option value="Title">Title</option>
                    <option value="Category">Category</option>
                </select>
              </form>
        </div>
        
        <h1>Browse Upcoming Events</h1>
        <div class="events-container" id="events-container">
            <div class="event">
                <img src="../assets/conference.jpg" alt="">
                <div class="event-title">
                    <p>Computer Science</p>
                </div>
                <div class="event-details">
                    <div class="event-category">
                        <img src="../assets/category.png" alt="">
                        <p>Conference</p>
                    </div>
                    <div class="event-location"><img src="../assets/location.png" alt=""><p>Faridabad, Haryana</p>
                    </div>
                    <div class="event-date">
                        <img src="../assets/date-time.png" alt=""><p>
                            23/07/2023</p>
                    </div>
                </div>
                <div class="buttons">
                    <a href="event_page.html">View Details</a>
                    <a href="#" id="test">Register</a>
                </div>
            </div>
        </div>
    </body>    
</html> 