<!DOCTYPE html>
<html>
    <head>
    <meta name="csrf-token" content="<%= @form_token %>">
    <%= stylesheet_link_tag 'nav', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'login' %>
    <%= javascript_include_tag 'user_edit', 'data-turbolinks-track': 'reload', async: true %>
    <%= javascript_include_tag 'side-nav', 'data-turbolinks-track': 'reload', async: true %>
    </head>
    <body>
    <%= render :partial => 'nav_bar', locals: { current: @current, role: @role} %>
        <div class="main-container">
            <div class="container">
                <form name="signup" id="main_form" class="registration-form" action="a.html" enctype="multipart/form-data">
                <%= hidden_field_tag :authenticity_token, @form_token %>
                    <h2>Edit your details</h2>    
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Username" id="user" value=<%= @user.username %>>
                        <p id="UserError" class="error"></p> 
                    </div>
                    <div class="form-group">
                        <input type="text" name="first_name" placeholder="First Name" id="first-name" value=<%= @user.firstname %> >
                        <p id="FirstNameError" class="error"></p>
                    </div>
                    <div class="form-group">
                        <input type="text" name="last_name" placeholder="Last Name" id="last-name" value=<%= @user.lastname %>>
                        <p id="LastNameError" class="error"></p>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" placeholder="Email" id="email" value=<%= @user.email %>>
                        <p id="EmailError" class="error"></p>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" id="password" >
                        <p id="PasswordError" class="error"></p>
                    </div>
                    <div class="form-group">
                        <input type="password" name="repeat_password" placeholder="Repeat Password" id="repeat-password" >
                        <p id="RepeatPasswordError" class="error"></p>
                    </div>
                    <div class="form-group">
                    <input type="file" name="profilepicture" id="image" >
                        <p id="ImageError" class="error"></p>
                    </div>
                    <div class="form-group">
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>