<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered People</title>
    <%= stylesheet_link_tag 'nav', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'registered_people' %>
    <%= javascript_include_tag 'side-nav', 'data-turbolinks-track': 'reload', async: true %>
</head>
<body>
<%= render :partial => 'nav_bar', locals: { current: @current, role: @role} %>
    <div class="main-container" id="main-container">
    <%= render partial: 'participant', collection: @user, as: :people%>
    </div>
</body>
</html>